*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #E6E6E6;
}
#header-edu-1{
    margin: 35px 150px;
    text-align: justify;
    line-height: 30px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#header-edu-1 p{
    font-size: 25px;
    color: #5f7d95;
}
.ex1-edu{
    margin-top: 50px;
    margin-left: 150px;
    font-size: 25px;
    padding: 30px;
    max-width: 77.3%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 2px solid #000000;
    border-top: 2px solid #ccc;
}
.active, .ex1-edu:hover{
    background-color: #ccc;
}
#slideshow-container-1{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
}
#slideshow-container-1 > div {
    width: 500px;
    padding: 25px;
    text-align: center;
    line-height: 0;
}
#dot-edu-1{
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 15%;
}
#dot-edu-1 > div {
    width: 550px;
    padding: 0;
    text-align: center;
    line-height: 0;
}
#text-edu-L{
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 269px;
}
#text-edu-R{
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 820px;
    margin-top: -34px;
}
#download{
    margin-top: 0;
    margin-left: 16.5%;
    word-spacing: 48px;
}
#a-download{
    margin-top: 15px;
    justify-content: center;
    position: relative;
    display: inline-block;
    padding: 11px 195px;
    text-decoration: none;
    font-family: sans-serif;
    color: rgb(255, 255, 255, 0.4);
    letter-spacing: 2px;
    background: #080849;
    font-style: 17px;
    transition: 0.5s;
}
#a-download:hover{
    color: rgb(255, 255, 255, 1);
}
#a-download span{
    display: block;
    position: absolute;
    background: #01dfba;
}
 /*hieu ung vien nut tai xuong*/
#a-download span:nth-child(2){
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transform-origin: right;
    transition: 0.5s;
}
#a-download:hover span:nth-child(2){
    transform: scaleX(1);
    transform-origin: left;
    transition: 0.5s;
}
#a-download span:nth-child(4){
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
}
#a-download:hover span:nth-child(4){
    transform: scaleX(1);
    transform-origin: right;
    transition: 0.5s;
}
 /*hieu ung vien nut tai xuong*/